# Python
__pycache__/
*.pyc
*.pyo
venv/
.venv/

# Environment
.env

# Sessions (حساس)
sessions/
*.session
*.session-journal

# Downloads
downloads/

# Database
data/

# Logs
logs/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
Thumbs.db
.DS_Store